<!DOCTYPE html>
<html>

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Countries to Visit on a Budget</title>

    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/on-budget.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="home">Home</a>
        <a class="navbar-brand" href="hot">Hot Countries</a>
        <a class="navbar-brand" href="cold">Cold Countries</a>
          <a class="navbar-brand" href="budget">Book Your Travel Now!</a>

        </div>
      </div>
    </nav>
    <!-- Page Content -->
    <div class="container">

      <!-- Page Heading/Breadcrumbs -->
      <h1 class="mt-4 mb-3">
      </h1>

      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="home">Home</a>
        </li>
        <li class="breadcrumb-item active">Hot Countries</li>
      </ol>

      <!--Amsterdam-->
      <div class="row">
        <div class="col-md-7">
          <a href="#">
            <img class="img-fluid rounded mb-3 mb-md-0" src="https://www.tours-tickets.com/media/771162/canals_amsterdam_blog_1.jpg?crop=0,0.026290131624765078,0,0&cropmode=percentage&width=1660&height=780&rnd=131402741550000000" alt="">
          </a>
        </div>
        <div class="col-md-5">
          <h3>Amsterdam</h3>
          <p>Amsterdam is the perfect place for a great holiday, with its great museums and galleries, lovely eateries, picturesque winding streets and canals, and lively nightlife scene.</p>
          <ul type="circle">
            <li> From €55 per night in a B&B </li>
            <li> Flights as cheap as €50 from Dublin Airport</li>
            <li> Meals from €7.41 - €12.35 per person</li>
        </div>
      </div>
      <!-- /.row -->

      <hr>

      <!-- Lanzarote -->
      <div class="row">
        <div class="col-md-7">
          <a href="#">
            <img class="img-fluid rounded mb-3 mb-md-0" src="https://lh-i.global.ssl.fastly.net/images/holidays/d0f0b0b55f5ccb79b6e70f4ba7e49349530c1d7a/lanzarote/puerto-del-carmen/bitacora-lanzarote-club-apartments-1.jpg?width=1600&fit=crop" alt="">
          </a>
        </div>
        <div class="col-md-5">
          <h3>Lanzarote</h3>
          <p>There are great beaches, to be sure, but this UNESCO World Biosphere reserve has unique attractions and activities. We're talking camel rides on volcanoes at Timanfaya National Park, or eating at a restaurant in a volcanic cave at Jameos del Agua</p>
          <ul type="circle">
            <li>As cheap as €39 per night in a apartment </li>
            <li>Flights as cheap as €90</li>
            <li>Meals from €6.50 to €12 </li>
        </div>
      </div>
      <!-- /.row -->

      <hr>

      <!-- Manchester -->
      <div class="row">
        <div class="col-md-7">
          <a href="#">
            <img class="img-fluid rounded mb-3 mb-md-0" src="https://www.visitmanchester.com/imageresizer/?image=%2Fdmsimgs%2FRegent_Crescent_dusk_354130438.jpg&action=ProductDetailFullWidth2" alt="">
          </a>
        </div>
        <div class="col-md-5">
          <h3>Manchester</h3>
          <p>Are you a Manchester United fan? The Old Trafford must be on your bucket list. Even for shopaholics the Tradford Center is the place to be, luxury shops, resturants and many more activites.</p>
          <ul type="circle">
            <li> €33 per night in a hotel</li>
            <li>Flight can be as cheap as €30</li>
            <li>Meals  can vary from £5.90 to £15.70 </li>
        </div>
      </div>
      <!-- /.row -->

      <hr>



    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
