<!DOCTYPE html>
<html>

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Code for Girls Project- Countries to Travel</title>

    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <link href="../static/css/home.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="home">Home</a>
        <a class="navbar-brand" href="hot">Hot Countries</a>
        <a class="navbar-brand" href="cold">Cold Countries</a>
        <a class="navbar-brand" href="budget">Book Your Ticket Now!</a>
        </div>
      </div>
      </nav>

    <header>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          <!-- <li data-target="#carouselExampleIndicators" data-slide-to="3"></li> -->
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active" style="background-image: url('../static/images/pic5.jpg')">
            <div class="carousel-caption d-none d-md-block">
              <h3 class=prime>Owerwhelmed with life...Feeling like I don't want to be here anymore...</h3>
            </div>
          </div>

          <div class="carousel-item" style="background-image: url('../static/images/pic3.jpg')">
            <div class="carousel-caption d-none d-md-block">
              <h3 class=prime>It is time to change your life...Book your one way ticket</h3>
            </div>
          </div>
          <div class="carousel-item" style="background-image: url('../static/images/pic4.jpg')">
            <div class="carousel-caption d-none d-md-block">
              <h3 class="prime"> Your promise land is waiting </h3>
            </div>
          <!-- <div class="carousel-item" style="background-image: url('../static/images/pic2.jpg')">
            <div class="carousel-caption d-none d-md-block">
              <h3 class="prime"> You deserve to be happy </h3> -->
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </header>
    <!-- Page Content -->
      <div class="container">
              <h1 class="my-4">Pick Your New Place To Live</h1>
        <div class="row">
          <div class="col-lg-4 mb-4">
            <div class="card h-100">
              <h4 class="card-header">Hot Country</h4>
              <div class="card-body">
                <p class="card-text">If You have a lizard nature maybe the sun will be your game changer? Pick one of the sunny
                  country as your new live destination.
                </p>
              </div>
              <div class="card-footer">
                <a href="hot" class="btn btn-primary">Check Hot Countries</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mb-4">
            <div class="card h-100">
              <h4 class="card-header">Cold Country</h4>
              <div class="card-body">
                <p class="card-text"> Cold countires are a great for those who enjoy nature. Cold countires provide a great landscape for thrill seekers and adventurers.
                </p>
              </div>
              <div class="card-footer">
                <a href="cold" class="btn btn-primary">Check Cold Countries</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mb-4">
            <div class="card h-100">
              <h4 class="card-header">Still don't know?</h4>
              <div class="card-body">
                <p class="card-text">On a Budget? You don't need much money to change your live! Book your ticket now and see!</p>
              </div>
              <div class="card-footer">
                <a href="budget" class="btn btn-primary">Book Now!</a>
              </div>
            </div>
          </div>
        </div>
        <!-- /.row -->

        <script src="../static/vendor/jquery/jquery.min.js"></script>
          <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
