<!DOCTYPE html>
<html>

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Code for Girls Project- Countries to Travel</title>

    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <link href="../static/css/temperature.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="home">Home</a>
        <a class="navbar-brand" href="hot">Hot Countries</a>
        <a class="navbar-brand" href="cold">Cold Countries</a>
        <a class="navbar-brand" href="budget">Book Your Ticket Now!</a>
        </div>
      </div>
      </nav>

<div class="container">
    <div class="container-fluid text center">
      <div class="panel">
        <br>
        <h3>Current Temperature</h3>
        <h4> The current temperatur is : {{temp}} Degrees Celsius </h4>
        <a href="budget" class="btn btn-danger">Good enough? Book ticket now</a>
    </div>
    </div>
    </div>

        <script src="../static/vendor/jquery/jquery.min.js"></script>
          <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
